/PracticingJava/JavaApplication17/nbproject/private/
/PracticingJava/src/ejercicio16/build/
/PracticingJava/src/ejercicio16/dist/
/PracticingJava/src/ejercicio16/nbproject/private/
/PracticingJava/Ej3PedirNumeros+Validacion/nbproject/private/
/PracticingJava/Ej3PedirNumeros+Validacion/build/
/PracticingJava/Ej1FuncionesJava/nbproject/private/
/PracticingJava/Ej1FuncionesJava/build/
/PracticingJava/FuncionesPerimetroArea/nbproject/private/
/PracticingJava/FuncionesPerimetroArea/build/
